<h1>Linien</h1>
<% @types.each do |t, linien| %>
	<h4><%= t %></h4>
	<div class="list-group">
	<% linien.each_value do |l| %>
	<a href="/linien/<%= l.id %>" class="list-group-item"><%= l.bezeichnung %></a>
	<% end %>
	</div>
<% end %>
