<h1><%= @l.bezeichnung %></h1>
<p><%= @l.verkehrsmittel %></p>
<div class="list-group">
  <% @l.haltestellen.each_value do |h| %>
  <a href="/haltestellen/<%= h %>" class="list-group-item"><%= @haltestellen[h].name %></a>
  <% end %>
</div>
