<span class="steig_linie_bezeichnung"><a href="/linien/<%= linie.id %>"><%= linie.bezeichnung %></a></span>
<span class="steig_richtung"><%= s.richtung %></span>
<span class="steig_linie_verkehrsmittel"><%= linie.verkehrsmittel %></span>
<span class="steig_lat"><%= s.lat %></span>, <span class="steig_lon"><%= s.lon %></span>
<code>
<%= s.monitor %>
</code>
