<span class="steig_linie_bezeichnung"><%= s.linie.bezeichnung %></span>
<span class="steig_richtung"><%= s.richtung %></span>
<span class="steig_linie_verkehrsmittel"><%= s.linie.verkehrsmittel %></span>
<span class="steig_lat"><%= s.lat %></span>, <span class="steig_lon"><%= s.lon %></span>
